 body{
     background-color: rgb(128, 128, 128);
 }

.A{
    background-color: white;
    height: 500px;
    width: 50%;
    display: flex;
    border-width: 10px;
    border-color: black;
    border-style: dotted;
<<<<<<< HEAD
    flex-direction: column; 
    margin: 0 auto;
=======
    flex-direction: column;
>>>>>>> 0e27b00d25296b78bb465cd7532c16c07db062ac
    align-items: center;
    
}
.B{
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.C{
    background-color: orangered;
    height: 100px;
    width: 30%;
}
.D{
    background-color: rgb(4, 155, 4);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-left: 100px;
    margin-top: 100px;
}