 

 .A{
     background-color: red;
     height: 50px;
     width: 50px;
     border: 2px solid green;
     margin-top: 100px;
 }
 
 .B{
     background-color: black;
     height: 50px;
     width: 50%;
     border-width: 2px;
     border-style: dashed;
     border-color: red;
     margin-left: 100px;
     margin-top: 100px;

 }