body{
    background-color: beige;
}

.contatinerExB{
    margin-top: 10px;
    background-color: gray;
    font-size: 30px;
}


.box4{
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box3{
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box2{
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box1 {
    
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}