.container{
    background-color: gray;
    display: flex;
    font-size: 30px;
    
}

.box1 {
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box2{
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box3{
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box4{
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* começo da linha 2 */

.container2{
    padding-left: 85.5%;
    margin-top: 10px;
    background-color: gray;
    display: flex;
    font-size: 30px;
}

.box5 {
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box6{
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box7{
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box8{
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* começo da linha 3 */

.container3{
    justify-content: center;
    margin-top: 10px;
    background-color: gray;
    display: flex;
    font-size: 30px;
}

.box9 {
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box10{
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box11{
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box12{
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* começo da linha 4 */

.container4{
    margin-top: 10px;
    background-color: gray;
    display: flex;
    font-size: 30px;
}

.box13 {
    padding-left: 0px;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box14{
    margin-left: 30%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box15{
    margin-left: 25%;
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box16{
    margin-left: 30.2%;
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}
  
/* começo da linha 5 */

.container5{
    margin-top: 10px;
    background-color: gray;
    display: flex;
    font-size: 30px;
}

.box17 {
    margin-left: 10%;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box18{
    margin-left: 23%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box19{
    margin-left: 19%;
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box20{
    margin-left: 24%;
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* começo da linha 6 */

.container6{
    margin-top: 10px;
    background-color: gray;
    display: flex;
    font-size: 30px;
}

.box21 {
    margin-left: 15%;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box22{
    margin-left: 20.5%;
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box23{
    margin-left: 14%;
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box24{
    margin-left: 22%;
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}