body{
    background-color: beige;
}

.container{
    margin-top: 10px;
    background-color: gray;
    font-size: 30px;
    display: flex;
}


.box4{
    margin-right: auto;
    background-color: blue;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box3{
    
    background-color: green;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box2{
    
    background-color: yellow;
    width: 50px;
    height: 50px;
    text-align: center;
}

.box1 {
    margin-right: 1150px;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
}